In [3]:
import pandas as dp

In [6]:
p=dp.Period(2007,freq='A-MAY')
p

Period('2007', 'A-MAY')

In [7]:
p+2

Period('2009', 'A-MAY')

In [8]:
p-2

Period('2005', 'A-MAY')

In [10]:
p=dp.Period(2019,freq='A-MAY')-2
p

Period('2017', 'A-MAY')

In [11]:
dp.Period(2014,freq='A-MAY')-p

<-3 * YearEnds: month=5>

In [15]:
rng=dp.period_range('2001-01-01','2000-06-03',freq='D')
rng

PeriodIndex([], dtype='period[D]', freq='D')

In [16]:
rng=dp.period_range('2001-01-01','2000-06-03',freq='M')
rng

PeriodIndex([], dtype='period[M]', freq='M')

In [19]:
rng=dp.period_range('2000-01-01','2000-06-03',freq='D')
print(rng)

PeriodIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
             '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
             '2000-01-09', '2000-01-10',
             ...
             '2000-05-25', '2000-05-26', '2000-05-27', '2000-05-28',
             '2000-05-29', '2000-05-30', '2000-05-31', '2000-06-01',
             '2000-06-02', '2000-06-03'],
            dtype='period[D]', length=155, freq='D')

In [21]:
index=dp.date_range('1/1/2000',periods=4,freq='T')
series=dp.Series([0.0,None,2.0,3.0],index=index)
df=dp.DataFrame({'s':series})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [22]:
df.asfreq(freq='30s')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [24]:
df.asfreq(freq='30s',fill_value=9.0)

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  9.0
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  9.0
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  9.0
2000-01-01 00:03:00  3.0

In [25]:
p

Period('2017', 'A-MAY')

In [26]:
p.asfreq('D',how='start')

Period('2016-06-01', 'D')

In [27]:
p.asfreq('D',how='end')

Period('2017-05-31', 'D')

In [28]:
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [29]:
df.asfreq('T',how='end')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [30]:
rng=dp.date_range('2006','2009',freq='A-DEC')
rng

DatetimeIndex(['2006-12-31', '2007-12-31', '2008-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [33]:
import numpy as np
ts=dp.Series(np.random.randn(len(rng)),index=rng)
ts

2006-12-31    1.756705
2007-12-31    1.089403
2008-12-31    0.842052
Freq: A-DEC, dtype: float64

In [34]:
ts.asfreq('M',how='start')

2006-12-31    1.756705
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31    1.089403
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31    0.842052
Freq: M, dtype: float64

In [35]:
ts.asfreq('M',how='end')

2006-12-31    1.756705
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31    1.089403
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31    0.842052
Freq: M, dtype: float64

In [37]:
p=dp.Period('2012Q4',freq='M')
p

Period('2012-10', 'M')

In [38]:
rng=dp.period_range('2011Q3','2012Q4',freq='Q-JAN')
rng

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [40]:
ts=dp.Series(np.arange(len(rng)),index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [41]:
rng=dp.date_range('2000-01-01',periods=3,freq='M')
rng

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [42]:
ts=dp.Series(np.random.randn(3),index=rng)
ts

2000-01-31   -2.328388
2000-02-29    1.132842
2000-03-31    1.712579
Freq: M, dtype: float64

In [43]:
pts=ts.to_period()
pts

2000-01   -2.328388
2000-02    1.132842
2000-03    1.712579
Freq: M, dtype: float64

In [47]:
rng=dp.date_range('1/29/2000',periods=6,freq='D')
ts2=dp.Series(np.random.randn(6),index=rng)
ts2

2000-01-29    0.879148
2000-01-30   -1.141202
2000-01-31    0.521481
2000-02-01    0.365790
2000-02-02   -0.511435
2000-02-03    0.218471
Freq: D, dtype: float64

In [48]:
ts2.to_period()

2000-01-29    0.879148
2000-01-30   -1.141202
2000-01-31    0.521481
2000-02-01    0.365790
2000-02-02   -0.511435
2000-02-03    0.218471
Freq: D, dtype: float64

In [49]:
ts2.to_period('M')

2000-01    0.879148
2000-01   -1.141202
2000-01    0.521481
2000-02    0.365790
2000-02   -0.511435
2000-02    0.218471
Freq: M, dtype: float64

In [50]:
pts.to_timestamp(how='end')

2000-01-31 23:59:59.999999999   -2.328388
2000-02-29 23:59:59.999999999    1.132842
2000-03-31 23:59:59.999999999    1.712579
Freq: M, dtype: float64

In [51]:
pts.to_timestamp(how='start')

2000-01-01   -2.328388
2000-02-01    1.132842
2000-03-01    1.712579
Freq: MS, dtype: float64

In [53]:
index=dp.date_range('1/1/2020',periods=9,freq='T')
series=dp.Series(range(9),index=index)
series

2020-01-01 00:00:00    0
2020-01-01 00:01:00    1
2020-01-01 00:02:00    2
2020-01-01 00:03:00    3
2020-01-01 00:04:00    4
2020-01-01 00:05:00    5
2020-01-01 00:06:00    6
2020-01-01 00:07:00    7
2020-01-01 00:08:00    8
Freq: T, dtype: int64

In [54]:
series.resample('3T',label='right',closed='right').sum()

2020-01-01 00:00:00     0
2020-01-01 00:03:00     6
2020-01-01 00:06:00    15
2020-01-01 00:09:00    15
Freq: 3T, dtype: int64

In [55]:
df=dp.read_csv("apple.csv",parse_dates=["date"],index_col="date")
df[:10]

                      close       volume    open    high       low
date
2020-02-01 16:00:00  192.23  4,65,41,444  191.72  197.18  191.4501
2018-11-13 00:00:00  192.23     46725710  191.63  197.18  191.4501
2018-12-11 00:00:00  194.17     50991030  199.00  199.85  193.7900
2018-09-11 00:00:00  204.47     34317760  205.55  206.01  202.2500
2018-08-11 00:00:00  208.49     25289270  209.98  210.12  206.7500
2018-07-11 00:00:00  209.95     33291640  205.97  210.06  204.1300
2018-06-11 00:00:00  203.77     31774720  201.92  204.72  201.6900
2018-05-11 00:00:00  201.59     66072170  204.30  204.39  198.1700
2018-02-11 00:00:00  207.48     91046560  209.55  213.65  205.4300
2018-01-11 00:00:00  222.22     52954070  219.05  222.36  216.8100

In [ ]:
weekly_resampled_data=df.open.resample