## Tuples
  * It is the collection of different data types separated by , and enclosed with ()

In [6]:
t=(5,7,7,87,"Hello","mintu")
t

(5, 7, 7, 87, 'Hello', 'mintu')

In [2]:
type(t[3])

str

In [3]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [7]:
t.count(7)

2

In [9]:
y=(5,5,67,8,3,2,1,8,89.0,"uiwyeufhj","hi mintu")
type(y)

tuple

In [10]:
y.count(5)

2

In [11]:
y.index(8)

3

In [13]:
y[0]

5

In [14]:
y[2:]

(67, 8, 3, 2, 1, 8, 89.0, 'uiwyeufhj', 'hi mintu')

In [17]:
print(y*2,)

(5, 5, 67, 8, 3, 2, 1, 8, 89.0, 'uiwyeufhj', 'hi mintu', 5, 5, 67, 8, 3, 2, 1, 8, 89.0, 'uiwyeufhj', 'hi mintu')

In [16]:
y

(5, 5, 67, 8, 3, 2, 1, 8, 89.0, 'uiwyeufhj', 'hi mintu')

In [18]:
y[2]/2

33.5

### Set
    * It the collectiion of elements separated by ,enclosing  with{}.it doesnt has index .the elements are unordered

In [21]:
s={56,8,67,9,8,345,6,76,54,6,6,6,444}
type(s)
s

{6, 8, 9, 54, 56, 67, 76, 345, 444}

In [23]:
s={"hi","mango","promegranate"}
print(type(s))
s

<class 'set'>

{'hi', 'mango', 'promegranate'}

In [24]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [26]:
t={567,8,9,7,5,4,45,23,123,67,689}

In [28]:
t.add(88)
t

{4, 5, 7, 8, 9, 23, 45, 67, 88, 123, 567, 689}

In [29]:
s.clear()
s

set()

In [32]:
setcopy=t.copy()
print(setcopy)
print(t)

{67, 4, 5, 7, 8, 9, 45, 689, 23, 567, 88, 123}
{67, 4, 5, 7, 8, 9, 45, 689, 23, 567, 88, 123}

In [35]:
w={3,5,6,8,9,0,4,2,43,2,345,545}
z={21,2,33,45,676,89,890,907,8}
t=w.difference(z)                        #w lo unna values z kuda unte that will delete and remaining will print
q=z.difference(w)                        #z "" ""     ""
print(t)
print(q)

{0, 545, 3, 4, 5, 6, 9, 43, 345}
{33, 676, 907, 45, 21, 89, 890}

In [36]:
w.isdisjoint(z)                # If the elements w and z cointains same values it print false if not false

False

In [37]:
w.union(z)

{0, 2, 3, 4, 5, 6, 8, 9, 21, 33, 43, 45, 89, 345, 545, 676, 890, 907}

In [38]:
w.intersection(z)

{2, 8}

In [39]:
r={1,3,56,5678,56789,345,556}
y={34,67,7,98,5,7,88,3,1}
r.issubset(y)

False

In [40]:
y.issuperset(r)

False

#### Acessing the elements in set

In [41]:
c={4,5,67,57,47,}
for i in c:
    print(i)

67
4
5
47
57

In [42]:
c

{4, 5, 47, 57, 67}

In [46]:
updated_set=c.update(y)   # c and y values are stored in c 
c

{1, 3, 4, 5, 7, 21, 33, 34, 45, 47, 57, 67, 88, 89, 98, 676, 890, 907}

In [47]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [50]:
h=y.symmetric_difference(c)       #common values will delete and remainning values will print
h

{4, 21, 33, 45, 47, 57, 89, 676, 890, 907}

In [60]:
y

{3, 5, 7, 67, 98}

In [52]:
y.pop()

1

In [53]:
y.pop()

34

In [61]:
y.remove(67)
print(y)

{98, 5, 3, 7}

#### How to assing  LIST to SET

In [63]:
lis=[345,45,67,45,67456,76,67,56,8]
print(type(lis),lis)
g=set(lis)
print(g)

<class 'list'> [345, 45, 67, 45, 67456, 76, 67, 56, 8]
{67456, 67, 8, 76, 45, 56, 345}

In [73]:
u=map(int,input().split())

y=list(set(u))
print(y)

5 6 7 8 8 5
[8, 5, 6, 7]

In [76]:
s=list(set(map(int,input().split())))
print(s)

5 6 6 7 8 8
[8, 5, 6, 7]