In [1]:
import numpy as np

In [2]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__doc__',
 '__file__',
 '__git_revision__',
 '__loader__',
 '__mkl_version__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_arg',
 '_distributor_init',
 '_globals',
 '_mat',
 '_mklinit',
 '_pytesttester',
 'abs',
 'absolute',
 'absolute_import',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'division',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'fv',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'int_asbuffer',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'ipmt',
 'irr',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mirr',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'nper',
 'npv',
 'numarray',
 'number',
 'obj2sctype',
 'object',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'pmt',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'ppmt',
 'print_function',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'pv',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'rank',
 'rate',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypeNA',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typeDict',
 'typeNA',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [4]:
#Creating an array
x=np.array([[1,2,4],[4,7,8]])
x

array([[1, 2, 4],
       [4, 7, 8]])

In [5]:
np.shape(x)

(2, 3)

In [6]:
np.size(x)

6

In [7]:
x.itemsize

4

In [8]:
#reshape
x.reshape(3,2)

array([[1, 2],
       [4, 4],
       [7, 8]])

In [9]:
x.reshape(1,6)

array([[1, 2, 4, 4, 7, 8]])

In [10]:
#slicing 
x[0]

array([1, 2, 4])

In [12]:
x[0:2]

array([[1, 2, 4],
       [4, 7, 8]])

In [13]:
x[0,1]

2

In [14]:
x[1,0]

4

In [15]:
x[1]

array([4, 7, 8])

In [16]:
x

array([[1, 2, 4],
       [4, 7, 8]])

In [17]:
x[0:,0]

array([1, 4])

In [18]:
x[:,-1]

array([4, 8])

In [19]:
x[:,2]

array([4, 8])

In [23]:
x[::2,::2]

array([[1, 4]])

In [26]:
x[:,0::2]

array([[1, 4],
       [4, 8]])

In [27]:
k=np.array([[1,2,3],[4,5,6],[7,8,9]])
k

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [28]:
k[:,::2]

array([[1, 3],
       [4, 6],
       [7, 9]])

In [30]:
k[:,:2:]

array([[1, 2],
       [4, 5],
       [7, 8]])

In [31]:
k[:2:,::]

array([[1, 2, 3],
       [4, 5, 6]])

In [32]:
k.max()

9

In [33]:
k.min()

1

In [34]:
k.sum()

45

In [35]:
k.mean()   #avg

5.0

In [37]:
k.min(axis=0)

array([1, 2, 3])

In [38]:
k.sum(axis=0)

array([12, 15, 18])

In [39]:
k.min(axis=1)

array([1, 4, 7])

In [40]:
k.max(axis=0)

array([7, 8, 9])

In [42]:
# whole data which we are guiving will be printed on vertical format
np.vstack((k,x))

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [1, 2, 4],
       [4, 7, 8]])

In [44]:
np.hstack((k))

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [45]:
np.arange(1,9)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [46]:
np.tan(k)

array([[ 1.55740772, -2.18503986, -0.14254654],
       [ 1.15782128, -3.38051501, -0.29100619],
       [ 0.87144798, -6.79971146, -0.45231566]])

In [47]:
np.cos(k)

array([[ 0.54030231, -0.41614684, -0.9899925 ],
       [-0.65364362,  0.28366219,  0.96017029],
       [ 0.75390225, -0.14550003, -0.91113026]])

### Pandas

In [7]:
import pandas as pd

In [5]:
dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [ ]:
#creating a series data type

In [10]:
s=pd.Series([1,3,67,5,9,8])
s

0     1
1     3
2    67
3     5
4     9
5     8
dtype: int64

In [12]:
s=pd.Series([1,3,67,5,9,8],index=['y','u','k','r','d','a'])
s

y     1
u     3
k    67
r     5
d     9
a     8
dtype: int64

In [33]:
v1=[1,6,9]
v2=[6,9,0]
df=pd.DataFrame({'x':v1,'y':v2,})
df

   x  y
0  1  6
1  6  9
2  9  0

### Operations in pandas

In [ ]:
** Slicing
** Merging and joining
** Concatination
** Changing the index
** Changiung column header
** Data munging

### Slicing in dataframe

In [22]:
df.tail()

   x  y
0  1  6
1  6  9
2  9  0

In [16]:
df.tail(1)

   x  y
2  9  0

#### Merging and Joining

In [29]:
v1=[0,6,6]
v2=[66,45,6]
v3=[90,8,99]
df1=pd.DataFrame({'x':v1,'y':v2,'z':v3})
df1

   x   y   z
0  0  66  90
1  6  45   8
2  6   6  99

In [24]:
pd.merge(df1,df)

Empty DataFrame
Columns: [x, y]
Index: []

In [34]:
j=df.join(df1)
j

ValueError: columns overlap but no suffix specified: Index(['x', 'y'], dtype='object')

In [42]:
d=[[2,3,4],[6,7,9,99],[7,9,3],[8,9,4]]

In [43]:
f1=pd.DataFrame(d,columns=["x",'y','z','z1'],index=[1,2,3,4])

In [44]:
f1

   x  y  z    z1
1  2  3  4   NaN
2  6  7  9  99.0
3  7  9  3   NaN
4  8  9  4   NaN

In [45]:
d1=[[3,4,6],[6,7,8,9],[8,9,6,4],[8,9,4]]
f2=pd.DataFrame(d1,columns=["x",'y','z','z1'])
f2

   x  y  z   z1
0  3  4  6  NaN
1  6  7  8  9.0
2  8  9  6  4.0
3  8  9  4  NaN

In [46]:
m=pd.merge(f1,f2)
m

   x  y  z  z1
0  8  9  4 NaN

In [53]:
x=[[1,2,3],[4,5,6]]
f3=pd.DataFrame(x,columns=['y1','y2','y3'],index=['a','b'])
f3

   y1  y2  y3
a   1   2   3
b   4   5   6

In [51]:
f4=pd.DataFrame({'name':[6,9,77],'gender':[1,7,98]})
f4

   name  gender
0     6       1
1     9       7
2    77      98

In [54]:
j=f3.join(f4)
j

   y1  y2  y3  name  gender
a   1   2   3   NaN     NaN
b   4   5   6   NaN     NaN

In [55]:
# Concat 
c=pd.concat([f3,f2])
c

C:\Users\public\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

     x    y   y1   y2   y3    z   z1
a  NaN  NaN  1.0  2.0  3.0  NaN  NaN
b  NaN  NaN  4.0  5.0  6.0  NaN  NaN
0  3.0  4.0  NaN  NaN  NaN  6.0  NaN
1  6.0  7.0  NaN  NaN  NaN  8.0  9.0
2  8.0  9.0  NaN  NaN  NaN  6.0  4.0
3  8.0  9.0  NaN  NaN  NaN  4.0  NaN

In [56]:
c.isnull()

       x      y     y1     y2     y3      z     z1
a   True   True  False  False  False   True   True
b   True   True  False  False  False   True   True
0  False  False   True   True   True  False   True
1  False  False   True   True   True  False  False
2  False  False   True   True   True  False  False
3  False  False   True   True   True  False   True

In [57]:
c.notnull()

       x      y     y1     y2     y3      z     z1
a  False  False   True   True   True  False  False
b  False  False   True   True   True  False  False
0   True   True  False  False  False   True  False
1   True   True  False  False  False   True   True
2   True   True  False  False  False   True   True
3   True   True  False  False  False   True  False

In [58]:
f3+f2

    x   y  y1  y2  y3   z  z1
a NaN NaN NaN NaN NaN NaN NaN
b NaN NaN NaN NaN NaN NaN NaN
0 NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN

In [60]:
#index changing
c1=pd.DataFrame({1:[1,2,3],2:[4,5,6],'i':['x','y','z']})
c1.set_index('i')

   1  2
i
x  1  4
y  2  5
z  3  6

In [61]:
#changing the column headers
c1.rename(columns={1:'a',2:'b'})

   a  b  i
0  1  4  x
1  2  5  y
2  3  6  z

In [63]:
dd=pd.read_csv("number.csv")  #data munging
dd

    x y z
0  5 0 41
1   3 9 2
2  4 7 88
3   5 6 1