In [1]:
from datetime import datetime

In [3]:
a=datetime.now()
a

datetime.datetime(2020, 1, 29, 13, 54, 21, 100137)

In [11]:
from datetime import *
now=datetime.now()
print(now)
print('Date now:{}-{}-{}'.format(now.day,now.month,now.year))

2020-01-29 14:02:18.637492
Date now:29-1-2020

In [6]:
now=datetime.now()
print(now)
print('Date now:{}-{}-{}'.format(now.day,now.month,now.year))
print('time now :{}:{}:{}'.format(now.hour,now.minute,now.second))

2020-01-29 13:59:05.415630
Date now:29-1-2020
time now :13:59:5

In [8]:
tdm=datetime.today()
print(tdm)
print('today date and time :',tdm)

2020-01-29 14:00:42.805727
today date and time : 2020-01-29 14:00:42.805727

In [13]:
date.today()

datetime.date(2020, 1, 29)

In [14]:
delta=datetime(2011,1,7)-datetime(2008,6,24,8,15)
print(delta)
print(delta.days)

926 days, 15:45:00
926

In [15]:
delta

datetime.timedelta(days=926, seconds=56700)

In [16]:
datetime(2011,12,26)+timedelta(206)

datetime.datetime(2012, 7, 19, 0, 0)

In [ ]:
value='26 dec 1993'
datetime.strptime(value,"")

In [19]:
import numpy as np
dates=[datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7)]

In [21]:
import pandas as pd
ts=pd.Series(np.random.randn(3),index=dates)
ts

2011-01-02   -1.375388
2011-01-05   -0.558115
2011-01-07    1.560487
dtype: float64

In [22]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07'], dtype='datetime64[ns]', freq=None)

In [24]:
j=ts.index[1]
j

Timestamp('2011-01-05 00:00:00')

In [25]:
ts[j]

-0.558115317603042

In [26]:
M=datetime.now()
print(M)
timestamp=datetime.timestamp(M)
print(timestamp)

2020-01-29 14:28:58.384327
1580336938.384327

In [27]:
longer_ts=pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
longer_ts

2000-01-01    0.395364
2000-01-02    0.943866
2000-01-03    1.960123
2000-01-04   -0.637054
2000-01-05   -1.974509
2000-01-06    0.551655
2000-01-07    2.260817
2000-01-08    0.262402
2000-01-09   -1.226152
2000-01-10    0.308758
2000-01-11    1.413614
2000-01-12    1.422989
2000-01-13    0.595506
2000-01-14    0.072515
2000-01-15    0.984921
2000-01-16   -0.111607
2000-01-17   -0.168591
2000-01-18    1.004318
2000-01-19    0.188488
2000-01-20    0.022587
2000-01-21    1.913121
2000-01-22   -0.109864
2000-01-23    0.043763
2000-01-24   -1.711556
2000-01-25   -0.909025
2000-01-26   -0.176664
2000-01-27   -1.548857
2000-01-28    1.082611
2000-01-29   -0.758682
2000-01-30    0.975881
                ...
2002-08-28    1.753872
2002-08-29    0.441267
2002-08-30    0.335907
2002-08-31   -0.343530
2002-09-01    1.273077
2002-09-02    0.436499
2002-09-03    1.627060
2002-09-04    2.258550
2002-09-05    0.060734
2002-09-06    1.179914
2002-09-07    0.574721
2002-09-08   -1.131368
2002-09-09   -0.479778
2002-09-10    0.252496
2002-09-11   -0.554681
2002-09-12    1.909091
2002-09-13    2.676703
2002-09-14   -0.842979
2002-09-15    1.180958
2002-09-16   -0.379526
2002-09-17   -0.607794
2002-09-18    2.502555
2002-09-19   -0.781340
2002-09-20   -0.419406
2002-09-21    2.191688
2002-09-22    0.413747
2002-09-23   -0.266826
2002-09-24    0.190564
2002-09-25    0.564663
2002-09-26   -1.006604
Freq: D, Length: 1000, dtype: float64

In [29]:
longer_ts['2001']

2001-01-01   -0.521327
2001-01-02   -1.544522
2001-01-03   -1.074208
2001-01-04    0.502526
2001-01-05   -0.357476
2001-01-06    0.092209
2001-01-07    0.436696
2001-01-08    0.350152
2001-01-09    0.238681
2001-01-10    0.236012
2001-01-11    1.012346
2001-01-12    0.445440
2001-01-13    0.682650
2001-01-14   -0.719451
2001-01-15    1.189800
2001-01-16   -0.675163
2001-01-17    0.882700
2001-01-18    0.812546
2001-01-19    0.318355
2001-01-20    0.312209
2001-01-21   -1.225771
2001-01-22   -0.953047
2001-01-23    1.052666
2001-01-24   -0.358930
2001-01-25   -0.345544
2001-01-26   -0.855828
2001-01-27   -0.921125
2001-01-28    0.403494
2001-01-29    1.000852
2001-01-30   -0.018977
                ...
2001-12-02   -1.477592
2001-12-03   -0.479605
2001-12-04    0.298964
2001-12-05   -0.410375
2001-12-06   -1.646433
2001-12-07    1.586372
2001-12-08   -0.786108
2001-12-09    0.396526
2001-12-10   -0.288969
2001-12-11   -0.070219
2001-12-12   -0.596877
2001-12-13   -1.353519
2001-12-14   -1.136497
2001-12-15   -1.221905
2001-12-16    0.741535
2001-12-17   -2.285976
2001-12-18    0.023160
2001-12-19    1.027878
2001-12-20    0.030474
2001-12-21    0.897664
2001-12-22   -0.648893
2001-12-23   -0.864649
2001-12-24   -0.106708
2001-12-25    1.820796
2001-12-26    1.005942
2001-12-27   -1.438143
2001-12-28    0.293705
2001-12-29   -0.923678
2001-12-30    0.720788
2001-12-31   -0.036047
Freq: D, Length: 365, dtype: float64

In [30]:
longer_ts['2001-05']

2001-05-01   -0.652547
2001-05-02   -1.202026
2001-05-03   -0.013399
2001-05-04   -0.042233
2001-05-05   -2.049903
2001-05-06    0.002789
2001-05-07    0.084762
2001-05-08   -0.483331
2001-05-09    0.065531
2001-05-10   -1.122167
2001-05-11    1.793233
2001-05-12   -0.606556
2001-05-13    0.200354
2001-05-14   -1.962090
2001-05-15    1.324462
2001-05-16   -0.191455
2001-05-17   -0.877296
2001-05-18   -0.809907
2001-05-19    1.102323
2001-05-20   -0.149581
2001-05-21   -1.097605
2001-05-22   -1.230614
2001-05-23   -0.664460
2001-05-24   -0.208300
2001-05-25   -0.432388
2001-05-26   -2.014067
2001-05-27   -2.052455
2001-05-28   -1.490437
2001-05-29   -0.965977
2001-05-30    0.838960
2001-05-31    0.995068
Freq: D, dtype: float64

In [31]:
ts[datetime(2011,1,7):]

2011-01-07    1.560487
dtype: float64

In [32]:
ts

2011-01-02   -1.375388
2011-01-05   -0.558115
2011-01-07    1.560487
dtype: float64

In [34]:
ts['2011, 1, 5':'2011-01-12']

2011-01-05   -0.558115
2011-01-07    1.560487
dtype: float64

In [35]:
pd.date_range('2000-01-01','2001-01-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [37]:
dates=pd.date_range('1/1/2019',periods=100,freq='W-WED')

In [40]:
longer_df=pd.DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado','Texas','New york','Ohio'])
longer_df

            Colorado     Texas  New york      Ohio
2019-01-02  0.300074  0.063132  0.348648  0.345401
2019-01-09 -0.925399 -1.214565  0.904884  0.066809
2019-01-16  0.070775  0.295676 -0.565117  0.756468
2019-01-23 -0.030890  0.854553  1.647494 -1.733227
2019-01-30 -1.437066  0.868002 -0.676711  1.531349
2019-02-06 -0.187236 -1.459968  2.378217 -0.272716
2019-02-13  2.311891  0.115421  0.909266  0.754189
2019-02-20  0.533447 -0.824280 -0.879987  0.591632
2019-02-27 -0.859401 -1.860874  0.418673 -0.937063
2019-03-06  1.275301  2.335385 -0.458096  0.354503
2019-03-13 -1.708572  0.285114 -0.453067 -0.940571
2019-03-20 -2.537903 -0.617527  0.454164  1.739520
2019-03-27  0.576854  0.974895 -0.697237  0.549912
2019-04-03  1.569169  0.187950 -0.127624 -0.679126
2019-04-10  0.123711 -1.765782  1.473194  1.126042
2019-04-17 -0.897329 -2.758312 -0.168841  0.700357
2019-04-24  1.035603 -1.105417 -1.267314 -1.110505
2019-05-01  2.136245  2.184442 -1.502571  1.103517
2019-05-08 -1.731291  0.221781 -0.701751  0.377894
2019-05-15 -0.225452  0.463690 -1.171988  0.887223
2019-05-22  0.047598 -0.967248  2.137109 -0.111549
2019-05-29 -1.283113  0.050568 -0.511120 -1.073026
2019-06-05 -1.243057 -0.444941 -1.494646 -0.226413
2019-06-12 -0.620575 -0.554736 -0.900743 -1.016934
2019-06-19  0.340717 -0.148478 -1.406838 -0.700315
2019-06-26 -0.537492 -0.764297  0.532643  1.336297
2019-07-03 -1.522316  1.245307 -1.396496 -0.405009
2019-07-10 -1.401933  0.446559 -1.041408  0.576434
2019-07-17 -0.511230  2.610992  0.139523 -1.017672
2019-07-24 -0.739493 -0.208710 -1.631774  0.093522
...              ...       ...       ...       ...
2020-05-06  0.329127  0.400546  1.228724  0.241489
2020-05-13 -0.593160 -2.921462  0.129400  1.093349
2020-05-20  0.066660 -0.395984  0.238877 -1.641057
2020-05-27 -0.702893 -1.107839  0.871158 -0.170641
2020-06-03  1.148460 -0.754910 -0.323040 -0.292362
2020-06-10  0.233481 -0.755098  0.172106  0.692217
2020-06-17 -0.543335 -0.777027 -1.135659 -0.451134
2020-06-24  0.469604 -0.813881  0.539372  1.191911
2020-07-01 -0.227113 -0.204518  1.727533  0.760388
2020-07-08  0.116638  0.314894  0.250334  1.098779
2020-07-15  0.433390 -0.166179  1.162214 -0.447954
2020-07-22 -0.588888 -2.680321  0.285823 -0.744264
2020-07-29  1.743590 -0.837160 -0.245509  1.017324
2020-08-05  1.151904 -0.548517 -0.376182  0.908263
2020-08-12 -1.938557  0.127497  0.874066  1.384578
2020-08-19 -1.064242  0.874684  2.187218 -0.845787
2020-08-26  0.396578  0.413578 -1.063803  0.568855
2020-09-02 -0.856968 -1.277101 -0.835330  0.413693
2020-09-09 -0.691981  0.752222 -0.315278 -1.372284
2020-09-16 -0.018469 -1.437254 -1.176861  0.882671
2020-09-23  0.198081 -0.708680 -0.190072  0.087932
2020-09-30 -1.546319  0.339770  1.424819 -0.263097
2020-10-07 -1.912414  1.100710  1.458257 -0.346322
2020-10-14  0.279036 -0.479760 -0.909236 -0.427637
2020-10-21 -1.406756 -1.109676  1.166568 -0.848136
2020-10-28  0.847626 -1.300754 -1.573622  0.768903
2020-11-04 -0.956357 -0.211437 -1.383139 -0.878407
2020-11-11  0.141748 -0.191275 -0.021521 -0.248753
2020-11-18  0.396307  0.928374  1.052692  0.306188
2020-11-25 -0.025279  0.666582 -0.560415  0.907870

[100 rows x 4 columns]

In [41]:
longer_df.loc['5-2019']

            Colorado     Texas  New york      Ohio
2019-05-01  2.136245  2.184442 -1.502571  1.103517
2019-05-08 -1.731291  0.221781 -0.701751  0.377894
2019-05-15 -0.225452  0.463690 -1.171988  0.887223
2019-05-22  0.047598 -0.967248  2.137109 -0.111549
2019-05-29 -1.283113  0.050568 -0.511120 -1.073026

In [45]:
dates=pd.DatetimeIndex(['1/1/2000','2/1/2000','3/1/2000','4/1/2000','5/1/2000'])
dates

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01'],
              dtype='datetime64[ns]', freq=None)

In [46]:
dup_ts=pd.Series(np.arange(5),index=dates)
dup_ts

2000-01-01    0
2000-02-01    1
2000-03-01    2
2000-04-01    3
2000-05-01    4
dtype: int32

In [48]:
pd.date_range(start='1/1/2019',periods=5,freq='M')

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31'],
              dtype='datetime64[ns]', freq='M')

In [49]:
pd.date_range(start='1/1/2019',periods=5)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05'],
              dtype='datetime64[ns]', freq='D')

In [50]:
dup_ts['1/2/2000']         #the dates present in 2000 will appear

KeyError: '1/2/2000'

In [51]:
from pandas.tseries.offsets import Hour,Minute
hour=Hour()
hour

In [52]:
_4hours=Hour(4)
_4hours

In [53]:
pd.date_range('2000-01-01','2000-01-03',freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [54]:
pd.date_range('2000-01-01',periods=10,freq='1H30MIN')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [56]:
s=pd.date_range('2019-12-11',periods=10)

In [57]:
for day in s:
    print(day.dayofweek,day.weekday_name)

2 Wednesday
3 Thursday
4 Friday
5 Saturday
6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday

C:\Users\public\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead

In [58]:
for day in s:
    print(day.dayofweek)

2
3
4
5
6
0
1
2
3
4