In [2]:
a=10
a=a//10
print(a)

1

In [6]:
a=10
a//=10 #a=a//10
print(a)

1

In [7]:
a=10
a%=10 #a=a%10
print(a)

0

In [8]:
a=20
a%=10 
print(a)

0

## Comparison operator

# >,<,==,!=

In [9]:
y=6
u=9
print(y>u)

False

In [10]:
g=4
y=5
print(g==y)

False

In [11]:
v=8
j=8
print(v!=j)

False

In [ ]:
g=8
u=8
print(g>)

## logical Operator

* and 
* or
* not

In [15]:
s=5
k=8
print(s and k)
print(s or k)
print(not k)

8
5
False

## Bitwise Operator
* a|b
* a&b
* a^b
* a>>b shift right by a
* a<<b shift left by b

* a>>b 
* example 3>>2

In [19]:
u=8
j=9
print(u|j)
print(u&j)
print(u^j)

9
8
1

## Identity operator
* is     ex:x=5 xis5 TRUE
* is not ex: x=5 xis not 5 FALSE

In [20]:
y=8
y is 8

True

In [21]:
u=7
u is not 7

False

## Membership Operators
* in 
* not in

In [22]:
g=[6,7,89,0,4,]
7 in g

True

In [23]:
10 in g

False

In [24]:
10 not in g

True

# Input\Output

In [26]:
print(k)

8

In [28]:
print ("enter a number")
u=input()

enter a number
20

In [29]:
i=input("enter anumber")

enter anumber89

# input many times

In [32]:
u=input("enter the number")
j=input("enter the number")
k=input("enter the number")

enter the number70
enter the number90
enter the number65

### Separate Syntax: sep="," and sep=":" and sep=";"

In [33]:
print(u,j,k)

70 90 65

In [34]:
print(u,j,k,sep="@")

70@90@65

In [36]:
print(u)
print(j)
print(k)

70
90
65

#### To print values in same line
* end="\t"

In [48]:
print(u,end="\t")
print(j)
print(k)

70	90
65

In [38]:
print(u,end="\t")
print(j,end="\t")
print(k)

70	90	65

In [39]:
a=19
b=20
print(a+b)

39

In [40]:
print(a-b)

-1

In [41]:
print(a**b)

37589973457545958193355601

In [42]:
a=input("enter a number")
m=input("enter a number")
print(a+m)

enter a number10
enter a number29
1029

In [43]:
a=int(input("enter a number"))
m=int(input("enter a number"))
print(a+m)

enter a number8
enter a number6
14

In [44]:
a=input("enter a number")
m=input("enter a number")
print(int(a)+int(m))

enter a number8
enter a number4
12

## strings

In [46]:
print("hi\n uday")

hi
 uday

In [50]:
print('hello mintu')
print('I dont't care')

SyntaxError: invalid syntax (<ipython-input-50-732f7965644a>, line 2)

In [53]:
print('I don\'t care')

I don't care

#### Multiple Lines In Single print statement by using "'"        """

In [54]:
print("""one
two
three""")

one
two
three

In [55]:
print("one\ntwo\tthird")

one
two	third

In [56]:
print("one\ntwo\nthree")

one
two
three

a=10
b=88
print("sum of ",a,"and" ,b, "is",a+b,)

In [57]:
w=10
t=7
print("sum of{0} and {1} is {2}".format(w,t,w+t))

sum of10 and 7 is 17

## String Slicing

### how to get variables in string

In [59]:
d="sahoo"
print(d[0],d[1],d[3])

s a o

In [60]:
print(d[0],d[1],d[3],end=" ")

s a o

In [61]:
print(d[0],d[1],d[3],end="")

s a o

### Syntax For Slicing # [start:end:step]
* start : inclusive
* end : exclusive

In [66]:
d[0:4]
print(d)

sahoo

In [67]:
print(d[0:3:2])

sh

In [72]:
a="engineering"
print(a[0:])
print(a[0::1])
print(a[0:len(a):1])
print(a[0:len(a)])
print(len(a))

engineering
engineering
engineering
engineering
11

In [73]:
print(a[::])

engineering

In [75]:
print(a[-1])

g

### Reverse of String

In [82]:
r="likiha reddy"
r[-1::]

'y'

In [83]:
r[-1::-1] #reverse of a string

'ydder ahikil'

In [84]:
r[::-1]

'ydder ahikil'

In [86]:
r[-2::-5] #start from middle of a string in reverse

'dal'

In [89]:
y="kvswrockstars" #to print alternative of a string
print(y[0::2])
#y[0].....k
#y[0+2].....s
print(a[::-2]) #to print alternative of a string im reverse

ksrcsas
gienge

In [91]:
y[-3::]

'ars'

In [92]:
print(len(y))

13

In [93]:
y[3::]

'wrockstars'

In [101]:
y[-5::-6]

'ss'

In [103]:
len(y)

13

In [106]:
len(y)//2

6

## Methods of Strings
* islower
* isupper
* lower
* upper
* count

In [110]:
b="kvswrocks"
print(b.upper())

KVSWROCKS

In [112]:
y="NBANI"
print(y.lower())

nbani

In [115]:
u="ncujfgGFGV"
print(u.lower())
print(u.swapcase())

ncujfggfgv
NCUJFGgfgv

In [116]:
g="urtgvFyghftwe4resGEW"
print(g.count("f"))

1