# List In Data Structures
### Lists,Tuples,Sets,Dictiories

# 1.Lists

lists are defined in the square brackets
list=[]
mixtured data can be stored integer,float etc..

list=[10,338,98,"jgyf"]
#### by using index we can get the data

In [5]:
l=[10,20,30,40,50.6,"uiytduyf"]
l[1]

20

In [4]:
l[5][0]

'u'

In [6]:
l[-1:-4:-1]

['uiytduyf', 50.6, 40]

In [7]:
l[0::2]  #alternative values

[10, 30, 50.6]

In [10]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [12]:
h=[3,5,77,89,74,79,44]    #to add  extra value to the list we use append
h.append(143)
print(h)

[3, 5, 77, 89, 74, 79, 44, 143]

In [13]:
y=[]
for u in range(10,20):
    y.append(u)
print(y)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Clear        
   * to clear our list

In [2]:
u=[5,78,80987,98765,456,"hfjeg"]
u.clear()
u

[]

#### Copy
  * to get copy of one list (duplicate)

In [16]:
g=[456,89876,89876,4321,35,456,56]
r=g.copy()
print(r)
print(g)

[456, 89876, 89876, 4321, 35, 456, 56]
[456, 89876, 89876, 4321, 35, 456, 56]

##### Count

In [17]:
d=[5,7,9,6,6789,456,23,3,6,9,0,98,7,6,5,4,4,3,2,1]
d.count(4)

2

##### Extend

In [19]:
h=[4,3467,65,456,45]
q=[5,32,45,78,98,2,2,34]
q.extend(h)
q

[5, 32, 45, 78, 98, 2, 2, 34, 4, 3467, 65, 456, 45]

#### Index     
   * to find the value of the number

In [4]:
z=[876,987,4,345,7,5,45,435]
z.index(7)

4

#### Insert

In [21]:
# 1.Insert(index,element)
z.insert(4,23)
z

[876, 987, 4, 345, 23, 7, 5, 45, 435]

### Pop     
  * to remove the element 
  * if we wont assign the remove value last value will delete

In [7]:
h=[86,85,98765,56,456,234,2345]
h.pop(3)
h

[86, 85, 98765, 456, 234, 2345]

In [29]:
u=[876,456,456,77,88,99,22,87]
u.pop(u.index(77))
u

[876, 456, 456, 88, 99, 22, 87]

### Remove 
 * to remove the number directly

In [6]:
v=[1,2,3,4,5]
v.remove(2)
print(v)

[1, 3, 4, 5]

### Reverse

In [31]:
g=[45,567,5432,345,45]
g.reverse() 
g

[45, 345, 5432, 567, 45]

### Sort
 * arrange the values in the ascending order or desending order

In [32]:
o=[2,34,56,67,567,67,123,23]
sorted(o)

[2, 23, 34, 56, 67, 67, 123, 567]

In [34]:
o.sort()
o

[2, 23, 34, 56, 67, 67, 123, 567]

In [37]:
# For sorting the elements in desending order
o.sort(reverse=True)
o

[567, 123, 67, 67, 56, 34, 23, 2]

In [38]:
print(len(o))

8

In [39]:
max(o)

567

In [40]:
print(min(o))

2

In [6]:
 a="2 3 5"
a=input().split()
for i in range(0,len(a)):
    print(int(a[i]),end=",")

4 5 6 7
4,5,6,7,

In [1]:
a=input().split()
for i in a:
    print(int(i))

3 4 5 6 7 7 8
3
4
5
6
7
7
8

### Split and Join

In [4]:
a="2 5 6 7"
a=input().split()
print(a)
print("@".join(a))

2 6 7 8
['2', '6', '7', '8']
2@6@7@8

In [17]:
l=[6,8,9,4,23]

s=0
#for i in range(0,len(l)):
    #s=s+l[i]
#print(s)
#for i in l:
    #s=s+i
#print(s)
for i in range(len(l)):
    s=s+l[i]
print(s)

50

In [13]:
print(sum(l))

50

In [14]:
l=[2,3,4,5]
s=0
c=0
for i in l:
    s=s+i
    c=c+1
    avg=s/c
print(avg)

3.5

In [16]:
f=[2,5,6,8]
s=0
print(sum(f)//len(f))

5

In [3]:
j=input().split()
s=0
for i in range(len(j)):
    s=s+int(j[i])
print(s)

1 2 3 4
10

In [7]:
k=input().split()
p=1
for i in k:
    p=p*int(i)
print(p)

1 2 3 4
24

In [1]:
a=int(input())
for i in range(a):
    s=input().split()
    c=0
    for j in range(len(s)):
        c=c+int(s[j])
    print(c)

3
1 2 3 4
10
6 7 8 9
30
9 8 1
18

In [7]:
a=int(input())
for i in range(a):
    s=input().split()
    
    r=0
    for j in range(len(s)):
        r=r+(int(s[j])**2)
        
    print(c)

1
2 3 4
8

In [21]:
a=[2,3,4,5,6,8]
a1=[]    
for i in range(len(a)):
    if (a[i]%2==0):
        a1.append(a[i])
print(a1)

[2, 4, 6, 8]

In [24]:
a="1 2 3 4 5"
a=list(map(int,input().split()))
print(a)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [25]:
d=['k','v','s','w']
print(sorted(d))

['k', 's', 'v', 'w']

In [27]:
l=[4,5,6,8]
a=l.remove(max(l))       # To find second max number
print(max(l))

6

In [29]:
l=[9,8,4,9,5]
l.sort()
print(l)                   # To find the second largest number
print(l[-2])

[4, 5, 8, 9, 9]
9

In [33]:

n=int(input())
l=[23,45,3,89]
l.sort()
print(l[-n])# To print the nth largest number 
print(l[n-1])  # To print the  nth smallest number

3
23
45